<div class="container-fluid maxHeight">
	<div class="row">
		<div class="col-xs-12 headerBar">
			<div class="col-xs-4 col-xs-offset-4 logo text-center">Planana</div>
			<div class="col-xs-4 text-right login">Sign in | Register</div>
		</div>
	</div>
	<div class="row center-div">
		<div class="col-xs-8 col-xs-offset-2 text-center">
			<form action="api/activities" method="GET">
				<div class="form-group">
					<label for="cityName">I'm going to</label>
					<input type="text" class="form-control" name="cityName" placeholder="City">
				</div>
<!-- 					<div class="form-group">
					<label for="radius">Radius (miles):</label>
					<select class="form-control" name="radius" id="radius">
						<option value="10">10</option>
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="75">75</option>
						<option value="100">100</option>							
					</select>
				</div> -->
				<label for="">I'm interested in</label> <br>
				<div class="form-check">
					<label class="form-check-label" for="activities">
						<input class="form-check-input" type="checkbox" name="park" value="1">
						Parks 
					</label>
					<label class="form-check-label" for="activities">
						<input class="form-check-input" type="checkbox" name="museum" value="1">
						Museums 
					</label>
					<label class="form-check-label" for="activities">
						<input class="form-check-input" type="checkbox" name="restaurant|cafe|" value="1">
						Restaurants 
					</label>
					<label class="form-check-label" for="activities">
						<input class="form-check-input" type="checkbox" name="shopping_mall|department_store" value="1">
						Shopping 
					</label>
					<label class="form-check-label" for="activities">
						<input class="form-check-input" type="checkbox" name="hiking" value="1">
						Hiking and Nature 
					</label>
					<label class="form-check-label" for="activities">
						<input class="form-check-input" type="checkbox" name="night_club|bar" value="1">
						Nightlife 
					</label>
				</div>

				<button type="submit" class="btn btn-primary">Plan Your Trip!</button>
			</form>
		</div>
	</div>
</div>