<div class="row center-div">
	<div class="col-xs-8 col-xs-offset-2 text-center">
			<div class="panel panel-default">
				<div class="panel-header">
					<h1><u>{{itinerary_name}}</u></h1><br>
				</div>
		  		{{#each activities}}
				<div class="panel-body">
					<h4>{{this.activity_time}}</h4>				
					<h3>{{this.activity_name}}</h3>
					<p>{{this.activity_address}}</p>
					{{!-- <hr> --}}
				</div>
		  		{{/each}}
		  		<br>
				<div><p><a href="/" style="color:darkblue;">Back to home</a></p></div>	
			</div>
	</div>
</div>