<div class="row center-div">
	<div class="col-xs-8 col-xs-offset-2 text-center">
		
		<form action="/login" method="POST">
			<div class="form-group">
				<label for="user_name">UserName</label>
				<input type="text" class="form-control" name="user_name" placeholder="Enter Username"/>
			</div>

			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" name="password" placeholder="Enter Password"/>
			</div>


			<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</div>
</div>
