<div class="row center-div">
	<div class="col-xs-8 col-xs-offset-2 text-center">
		
		<form action="/login" method="POST">
			<div class="form-group">
				<label for="username">UserName</label>
				<input type="text" class="form-control" name="username" placeholder="Enter Username"/>
			</div>

			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" name="password" placeholder="Enter Password"/>
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
			<div>
				<p></p>
				<p>- OR -</p>
				<div><a href="/auth/facebook"><img src="../images/facebook_logo.png" style="max-width:32px;" alt="facebook" id="facebook"> <p>Log in with Facebook</p></a></div>
			</div>
		</form>
	</div>
</div>
