<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/css/style.css">
	<title>Planana</title>
</head>
<body>
	<div class="container-fluid maxHeight">
		<div class="row">
			<div class="col-xs-12 headerBar">
				<div class="col-xs-4 col-xs-offset-4 logo text-center">Planana</div>
				<div class="col-xs-4 text-right login"><a href="/login">Sign in<a/> | <a href="/signup">Register</a></div>
			</div>
		</div>
		{{{body}}}
	</div>
</body>
<footer></footer>	
</html>
