<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Artifika" rel="stylesheet">
	<script
	  src="http://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<style type="text/css">
		.panel-default .panel-heading {
		  background: #129107;
		  color:#fff;
		  font-size: 18px;
		  font-family: Lato;
		  text-align: center;
		}

		.panel-default{
			border: 1px solid #00040a;
		}

		.btn-success {
			background: #129107;
			font-size: 15px;
		  	font-family: Lato;
		  	margin-top: 15px;
		}

		.btn-primary {
			background: #efd007;
			font-size: 15px;
			font-family: Lato;
			color:#070600;
		}

		hr{
		    height: 10px;
		    border: 0;
		    margin-top:8px;
		    margin-bottom: 5px;
		    box-shadow: 0 10px 10px -10px #8c8b8b inset;
		}

		#itinerary-body h4{
			font-size: 12px;
			font-weight: bold;
		}
		.tab-content {
			border: 1px solid #000307;
			background: #fff;

		}

		.nav-tabs > li.active > a,
		.nav-tabs > li.active > a:hover,
		.nav-tabs > li.active > a:focus{
		    color: #fff;
		    font:Lato;
		    font-weight: bold;
		    background-color: #00adff;  
		} 

		a {
			text-decoration: none;
			color:#ffe502;
			font:Lato;
			font-weight: bold;
		}
	</style>

	<link rel="stylesheet" href="/css/style.css">

	<title>Planana</title>
</head>
<body>
	<div class="container-fluid maxHeight">
		<div class="row">
			<div class="col-xs-12 headerBar">
				<div class="col-xs-4 col-xs-offset-4 logo text-center">Planana</div>
				<div class="col-xs-4 text-right login"><a href="/login">Sign in<a/> | <a href="/signup">Register</a></div>
			</div>
		</div>
		{{{body}}}
	</div>
</body>
<footer></footer>	
</html>
